{{ if .Page.HasShortcode "notebook" }}
	{{ $katexCSS := resources.Get "lib/katex/katex.min.css" }}
	{{ $katexCSS := $katexCSS | resources.Fingerprint (.Site.Params.fingerprintAlgorithm | default "sha512") }}
	<link
		type="text/css"
		rel="stylesheet"
		href="{{ $katexCSS.RelPermalink }}"
		integrity="{{ $katexCSS.Data.Integrity }}">
	{{ $katexLib := resources.Get "lib/katex/katex.min.js" }}
	{{ $katexRenderLib := resources.Get "lib/katex/auto-render.min.js" }}
	{{ $katexJS := slice $katexLib $katexRenderLib | resources.Concat "js/katex.bundle.js" | resources.Fingerprint (.Site.Params.fingerprintAlgorithm | default "sha512") }}
	<script
		defer
		type="text/javascript"
		src="{{ $katexJS.RelPermalink }}"
		integrity="{{ $katexJS.Data.Integrity }}"
		id="katex-render"></script>
{{ end }}